.mainMenu {
    width: 200px;
    height: 75px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    
    border: 10px solid silver;
    background-color: skyblue;
    display: block;
}

.menu{
    position: absolute;
    top:175px;
    left: 625px
}
